@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


.source-sans-pro-300{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.source-sans-pro-400{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.source-sans-pro-600{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.source-sans-pro-700{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.source-sans-pro-900{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

.header-content{
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100%  70%,
      0% 100%
    );
}

.dev-content{
  clip-path: polygon(
      0% 40%,
      100% 0%,
      100% 100%,
      0% 100%
    );
}

.dev-get-started{
  clip-path: polygon(
      0% 40%,
      100% 0%,
      100% 100%,
      0% 100%
    );
}